<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>menu page</title>
    <link rel="stylesheet" type="text/css" href="../static/CSS/menu.css">
    <link href='http://fonts.googleapis.com/css?family=Noto+Sans:300,400,500,700,400italic,700italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
</head>
<style>
    body {
        font-family: 'Noto Sans', sans-serif;
        font-weight: 400;
    }
</style>
<body>

    <div class="container">
        <div id="myModal" class="modal">
            <div class="modal-content" id="my-modal-content">    
                <div class="modal-bar mbar-top" id="modal-title">cart</div>
                <div class="modal-bar mbar-food">
                    <img src="../static/Image/Food/ramen-1.png" id="modal-item-pic" alt="ramen-1" class="food">
                    <div class="item-name" id="modal-item-name"></div>
                </div>

                <div class="bars" id="myModal-bars">
                    <div class="modal-bar mbar-edit">
                        <div class="deduct-btn" id="item-deduct-btn">-</div>
                        <div class="cur-qty" id="item-cur-qty"></div>
                        <div class="add-btn" id="item-add-btn">+</div>
                    </div>
                    <div class="modal-bar mbar-7" id="modal-item-price"></div>
                    <div class="modal-bar mbar-8">
                        <div class="box box-1 close-1">cancel</div>
                        <div class="box box-2" id="add-to-cart" >add to cart</div>
                    </div>
                </div>
            </div>
        </div>

        <div id="cart-Modal" class="modal">
            <div class="modal-content">
                <div class="modal-bar mbar-top">cart</div>
                <div id="cart-empty">
                    <img src="../static/Image/Dog/dog_no_cort.png" width="283.5px" height="300.5px">
                    <div class="cart-empty-font">Your cart is empty.</div>
                </div>
                <div id="cart-content">

                </div>
                
                <div class="bars">
                    <div class="modal-bar mbar-7" id="cart-total-price">Total $0</div>
                    <div class="modal-bar mbar-8">
                        <div class="box box-1 close-cart">back to menu</div>
                        <div class="box box-2" id="order-btn">order</div>
                    </div>
                </div>
            
            </div>
        </div>

        <div id="order-Modal" class="modal">
            <div id="order-modal-content">
                <img src="../static/Image/Utility/Loading.gif" alt="loading" id="laoding">
                <img src="../static/Image/Dog/Start_dog.gif" alt="dancing dog" id ='dancing-dog'>
            </div>
        </div>

        <div class="bar bar-1"></div>
        <div class="bar bar-2">Ramen Ordering System</div>
        <div class="bar bar-3">
            <div>
                <a href="#" data-target="menu-page-ramen" class="menu-btn active cata-name" id="cata-name-0"></a>
            </div>

            <div>
                <a href="#" data-target="menu-page-chashu" class="menu-btn cata-name" id="cata-name-1"></a>
            </div>

            <div>
                <a href="#" data-target="menu-page-fried" class="menu-btn cata-name" id="cata-name-2"></a>
            </div>
            
        </div>
        <div class="b-line"></div>

        <section class="menu-page-ramen">

            <div class="two-food">
                <div class="food-container" id="0">
                    
                    <img src="../static/Image/Food/ramen-1.png" alt="ramen-1" class="food">
                    <div class="item-name" id="item-name-0"></div>
                    <div class="item-price" id="item-price-0"></div>
                </div>

                <div class="food-container" id="1">
                    <img src="../static/Image/Food/ramen-1.png" alt="ramen-1" class="food">
                    <div class="item-name" id="item-name-1"></div>
                    <div class="item-price" id="item-price-1"></div>
                </div>
            </div>

            <div class="two-food">
                <div class="food-container" id="2">
                    <img src="../static/Image/Food/ramen-2.png" alt="ramen-1" class="food">
                    <div class="item-name" id="item-name-2"></div>
                    <div class="item-price" id="item-price-2"></div>
                </div>

                <div class="food-container" id="3">
                    <img src="../static/Image/Food/ramen-2.png" alt="ramen-1" class="food">
                    <div class="item-name" id="item-name-3"></div>
                    <div class="item-price" id="item-price-3"></div>
                </div>
            </div>

        </section>

        <section class="menu-page-chashu">

            <div class="two-food">
                <div class="food-container" id="4">
                    <img src="../static/Image/Food/pork_chashu.png" alt="pork_chashu" class="food">
                    <div class="item-name" id="item-name-4"></div>
                    <div class="item-price" id="item-price-4"></div>
                </div>

                <div class="food-container" id="5">
                    <img src="../static/Image/Food/chicken_chashu.png" alt="chicken_chashu" class="food">
                    <div class="item-name" id="item-name-5"></div>
                    <div class="item-price" id="item-price-5"></div>
                </div>
            </div>

            <div class="two-food">
                <div class="food-container" id="6">
                    <img src="../static/Image/Food/chashu_rice.png" alt="Pork Chashu Don" class="food">
                    <div class="item-name" id="item-name-6"></div>
                    <div class="item-price" id="item-price-6"></div>
                </div>

                <div class="food-container" id="7">
                    <img src="../static/Image/Food/chashu_rice.png" alt="Chicken Chashu Don" class="food">
                    <div class="item-name" id="item-name-7"></div>
                    <div class="item-price" id="item-price-7"></div>
                </div>
            </div>

        </section>

        <section class="menu-page-fried">
            <div class="two-food">
                <div class="food-container" id="8">
                    <img src="../static/Image/Food/fried_pork.png" alt="Katsu" class="food">
                    <div class="item-name" id="item-name-8"></div>
                    <div class="item-price" id="item-price-8"></div>
                </div>

                <div class="food-container" id="9">
                    <img src="../static/Image/Food/fried_chicken_wing.png" alt="chicken wing" class="food">
                    <div class="item-name" id="item-name-9"></div>
                    <div class="item-price" id="item-price-9"></div>
                </div>
            </div>

            <div class="two-food">
                <div class="food-container" id="10">
                    <img src="../static/Image/Food/karage.png" alt="Karaage" class="food">
                    <div class="item-name" id="item-name-10"></div>
                    <div class="item-price" id="item-price-10"></div>
                </div>

                <div class="food-container" id="11">
                    <img src="../static/Image/Food/colapin.png" alt="Korokke" class="food">
                    <div class="item-name" id="item-name-11"></div>
                    <div class="item-price" id="item-price-11"></div>
                </div>
            </div>

        </section>

        <div class="bar bar-4">
            <div id="cart-btn-wrapper">
                <img id="cart-btn" src="../static/Image/Utility/cart_button.png" alt="cart-button">
                <div id="red-circle">0</div>
            </div>
            
        </div>

    </div>
    
</body>
<script src="../static/JS/menu.js"></script>
</html>
