<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>order complete page</title>
    <link rel="stylesheet" type="text/css" href="../static/CSS/order_complete_page.css">

</head>
<body>       
    <div class="container">
        <div class="bar bar-1"></div>
        <div class="bar bar-2">Ramen Ordering System</div>

        <img src="../static/Image/Utility/v.png" alt="Logo" id="v">
        
        <div id="receive-order">
            We receive your order!
        </div>

        <img src="../static/Image/Dog/thankyou_dog.png" alt="dog" id="dog-thankyou">

        <form action="/" enctype="multipart/form-data">
            <input type="submit" value="Comfirm" class="btn">
        </form>       
    </div>
</body>
</html>
